{% extends "base.html" %}
{% block title %}Blogroll - {{ site.title }}{% endblock %}
{% block theme_css %}{% include "theme_css.html" %}{% endblock %}
{% block head_extra %}
  {% include "site_appearance.html" %}
{% endblock %}
{% block body %}
  {% include "admin_banner.html" %}
  <main>
    <div class="site-content">
      <p class="post-byline mt-8">
        {% if site.avatar %}<img class="post-byline-avatar" src="{{ site.avatar }}" alt="avatar">{% endif %}
        <a href="/">{{ site.title }}</a>
      </p>
      <h1 class="post-title">Following {{ blogroll|length }} blog{{ 's' if blogroll|length != 1 }}</h1>
      <ul class="blogroll-list">
        {% for item in blogroll %}
          <li>{% include "blogroll_item.html" %}</li>
        {% endfor %}
      </ul>
    </div>
  </main>
  {% include "site_footer.html" %}
{% endblock %}
