{% extends "base.html" %}
{% block title %}Jottit — self-owned publishing on the web{% endblock %}
{% block body %}
  <main class="home">
    <header class="header-home">
      <h1 class="logo"><span>Jottit</span></h1>
    </header>
    <form action="/" method="post" class="slug-form">
        <div class="slug-input">
            <input type="text" name="subdomain" placeholder="yourname" required autofocus>
            <span class="slug-suffix">.jottit.pub</span>
            <button type="submit">Go</button>
        </div>
    </form>
    <p class="tagline">self-owned publishing on the web</p>
  </main>
{% endblock %}
